<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Page Object Test example">
<parameter name = "appURL" value="http://automationpractice.com/index.php" />
<parameter name = "browserType" value="FF" />
	<test name ="sample test">
		<classes>
			<class name = "com.selenium.ylp.pom.test.HomePageTest"/>
		</classes>
	</test>
</suite>
       